.about-me {
    max-width: 95%;
    overflow-x: hidden;
    padding-left: 40px;
}

.about-me-text {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    padding-left: 10px;
}

.profile-pic {
    width: 300px; /* Adjust the width as needed */
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
